.cards{
	color:#122620
}







.cards ul{

	list-style: none;
	padding-left: 0%;




}
.den{

		border: 0.3rem solid #b68d40;
		border-radius: 0.75rem;
		background-color: #d6ad60;
		margin: 0% 15% 1% 15%;
		padding: 1%;
}
.datum{

		border: 0.3rem solid #b68d40;
			border-radius: 0.75rem;
			background-color: #d6ad60;
			margin: 0% 30% 1% 30%;
			padding: 1%;
			text-align: center;
			color: rgb(48, 3, 3);
			font-weight: bold;
			font-family: monospace;

		}
