input,
textarea,
select {


	border: 0.3em solid #b68d40;
	/* Nastavení barvy a tloušťky rámečku */
	border-radius: 0.5em;
	/* Zaoblení rohů */
	padding: 0.2em;
	/* Vnitřní odsazení */
	font-size: 16px;
	/* Velikost písma */
}

/* Styl při najetí myší */
input:hover,
textarea:hover,
select:hover {


	border-color: #f4ebd0;
	/* Změna barvy rámečku při najetí */
}

/* Styl při aktivním prvku (fokus) */
input:focus,
textarea:focus,
select:focus {
	outline: none;
	/* Skryje výchozí zvýraznění rámečku */
	border-color: #122620;
	/* Nastavení barvy při kliknutí do prvku */

}

/* Styl pro tlačítka formuláře */
button {
	background-color: #f4ebd0;
	color: #122620;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #b68d40;
	/* Změna barvy tlačítka při najetí myší */
}