body
{
	background-color: #122620;


}

h1
{
	color: #f4ebd0;
	font-family: fantasy;
	text-align: center;
}

h2{
color: #f4ebd0;
font-family: monospace;


}

.app{

	border: 0.75rem solid #d6ad60;
	height: 10rem;
	background-color:#d6ad60;
	border-radius: 0.75rem;
	padding: 2%;
	margin: 1% 10% 1% 10%;

}

.cards
