body
{
	background-color: #122620;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1
{
	color: #d6ad60;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
}

h2{
color: #122620;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

.app{

	border: 0.3rem solid #b68d40;
	height: 10rem;
	background-color:#d6ad60;
	border-radius: 0.75rem;
	padding: 2%;
	margin: 1% 10% 1% 10%;

}
